.hero {
	padding: 100px 0;
	font-weight: 600;
	margin: 0 0 10px 0;
	font-weight: 600;
	line-height: 1.1;
}

.big-heading {
	display: block;
	margin: 0;
	font-size: clamp(30px, 8vw, 70px);
}

.medium-heading {
	margin-top: 10px;
	line-height: 0.9;
	display: block;
	margin: 0;
	font-size: clamp(20px, 7vw, 55px);
}

.small-heading {
	display: block;
	margin: 0 0 15px 4px;
	font-size: 1.5em;
	font-weight: 400;

	@media (max-width: 480px) {
  	margin: 0 0 20px 2px;
	}
}
