.projectWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  margin: 0 auto 40px;
  position: relative;

  h5 {
    font-size: clamp(20px, 6vw, 30px);
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0 10px 5px 10px;
  }

  a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    transition: .3s;

    &:hover {
      color: gray;
    }
  }
}

.tech-list {
  margin: 20px 0;
  font-family: monospace;
}

.imageWrapper {
  width: clamp(50px, 65%, 900px);
  aspect-ratio: 16 / 9;

  span {
    padding-top: 0;
  }
}

.projectLinks {
  display: flex;
  margin: 20px 0;

  a {
    padding: 0 10px;
    height: 1.5rem;
    transition: .3s;

    &:hover {
      color: rgb(1, 112, 243);
    }
  }
}
